{% extends "base.html" %}
{% block content %}

<div class="container">
    <br >
<table class="data grid table table-hover table-responsive" width="100%" cellspacing="0">
<tbody>
<tr style="height: 16px;">
<th style="padding-left: 40px; height: 16px;" align="left" width="25%">Title</th>
<th style="padding-left: 100px; height: 16px;" align="left" width="25%">Telephone No.</th>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Police Control Room</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">100</td>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Traffic Police</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">1095</td>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Women &amp; Sr. Citizens</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">1090</td>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Children</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">1098</td>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Fire Brigade</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">101</td>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Ambulance</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">102</td>
</tr>
<tr style="height: 16px;">
<td style="padding-left: 40px; height: 16px;" align="left" width="25%">Emergency Services</td>
<td style="padding-left: 100px; height: 16px;" align="left" width="25%">108</td>
</tr>
<tr>
<td style="padding-left: 40px;" align="left" width="25%">Help for SC/ST ( Toll Free)</td>
<td style="padding-left: 100px;" align="left" width="25%">18001806025</td>
</tr>
</tbody>
</table>
<p><br /><br /></p>
</div>

{% endblock %}