<div class = "footer-body" style="background-color:black; height:250px; width:100%;">
    <br>
  <div class = "container-fluid">
    <div class = "col-md-4 col-sm-4 col-xs-4 footer-text">
      <div><b><h4>ABOUT US</h4></b></div><hr>
      The Rajasthan Police is the law enforcement agency for the state of Rajasthan in India. The Rajasthan Police has its headquarters in Jaipur, the state capital.
    </div>
    <div class = "col col-sm-2 col-xs-3 footer-text justify-content-center align-items-center">
        <div><b><h4>LINKS</h4></b><br></div>
        <div class = "col col-sm-4">
            <div class = "row">
                <div class = "col">Services</div>
                <div class = "col">Sitemap</div>
                <div class = "col">Downloads</div>
                <div class = "col">Contact</div>
            </div>
            <div class = "row">
            </div>
            <div class = "row">
            </div>
             <div class = "row">
            </div>
        </div>
    </div>
    <div class = "col-md-4 col-sm-4 col-xs-4">
      <iframe
      width="600"
      height="200"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAC7gvSmfaRMtnAKNg9pykj4Co32ue3A6o&q=Rajasthan" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
<!-- Footer -->

