{% extends "anonymous/base_site.html" %}

{% block title %} Inbox {% endblock title %}

{% block stylesheets %}



  {{ block.super }}






    <!-- bootstrap-wysiwyg -->
    <link href="/static/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

  <div class="right_col" role="main">

<div class="row">
  <div class="top-bar column align-center">
    <h5>Services</h5>
  </div>
</div>

  </div>


{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}
